.Home{
    text-align: center;
}

.Home-header {
    background-color: #D5DDBC;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.error-msg {
    color: red;
    font-weight: 500;
    display: block;
    margin: 12px;
}

.iframe{
    width: 100%;
    height: 600px;
}